
<nav id="menu-nav">
	<a class="menu-nav-item{% if page.url == '/' %} active{% endif %}" href="{{base}}/index.html">Latests news</a>
	<a class="menu-nav-item{% if page.url == '/about.html' or page.url contains '/about/' %} active{% endif %}" href="{{base}}/about.html">About</a>
	<a class="menu-nav-item{% if page.url == '/download.html' %} active{% endif %}" href="{{base}}/download.html">Download</a>
	<a class="menu-nav-item{% if page.url == '/contact.html' %} active{% endif %}" href="{{base}}/contact.html">Contact</a>
</nav>
