<div class="menu">
    <nav class="menu-nav">
      <a class="menu-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="menu-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <hr>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved (lol...).</p>
  </div>
</div>
