<!DOCTYPE html>
<html lang="en-us">
{% assign base = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth <= 1 %}{% assign base = '.' %}
{% elsif depth == 2 %}{% assign base = '..' %}
{% elsif depth == 3 %}{% assign base = '../..' %}
{% elsif depth == 4 %}{% assign base = '../../..' %}{% endif %}

{% include head.html %}

<body>
{% include logo.html %}
{% include menu.html %}
<div class="outer-content">
    <a name="head-anchor"> </a>
    {% include nav-breadcrumbs.html %}
    <div class="main-content">
        {{ content }}
    </div>
</div>
</body>
</html>
